.main {
    width: 20%;
    height: 100%;

    .heading {
        width: 100%;
        height: 10%;
        color: rgba(0, 0, 0, 1);
        font-family: Roboto;
        font-size: 1.3rem;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .groupsContainer {
        width: 100%;
        height: 90%;

        .groups {
            width: 100%;
            height: 100%;
            overflow-y: auto;
        }
    }

    .addButton {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        background-color: rgba(22, 0, 139, 1);
        position: fixed;
        top: 85%;
        left: 13%;
        display: flex;
        justify-content: center;
        align-items: center;

        .symbol {
            color: rgba(255, 255, 255, 1);
            font-family: Roboto;
            font-size: 2rem;
            font-weight: 500;
        }
    }
}

.groups::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(217, 217, 217, 1);
}

.groups::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
}

@media (max-width : 600px) {
    .main {
        width: 100%;
        height: 100%;

        .heading {
            height: 5%;
            justify-content: flex-start;
            align-items: flex-end;
            padding-left: 10%;
        }

        .addButton {
            margin-left: 60%;
        }
    }

    .groups::-webkit-scrollbar {
        width: 5px;
        background-color: rgba(217, 217, 217, 1);
    }
    
    .groups::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 1);
        border-radius: 10px;
    }
}