.main{
    width: 100%;
    height: 10%;
    display: flex;
    gap: 5%;
    margin-top: 2%;
    cursor: pointer;
    display: flex;
    align-items: center;
    
    .circle{
        width: 17%;
        height: 85%;
        border-radius: 50%;
        border: none;
        outline: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 20%;
        .shortName{
            font-family: Roboto;
            font-size: 1.3rem;
            font-weight: 500;
            color: rgba(255,255,255,1);
        }
    }

    .groupName{
        font-family: Roboto;
        font-size: 1.1rem;
        font-weight: 500;
        color: rgba(0,0,0,1);
        
    }
}

.main:hover{
  background-color: rgba(47, 47, 47, 0.17);
}

@media (max-width:600px){
   .main{
    margin-top: 3%;
    .circle{
        margin-left: 9%;
        
     }
   }
   
}